<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finn.support.mapper.DeptMapper">

    <select id="getList" resultType="com.finn.support.entity.DeptEntity">
        select t1.*, (select t2.name from sys_dept t2 where t2.id = t1.parent_id) parentName,t3.tenant_name from sys_dept t1
        left join tenant_member t3 on t1.tenant_id = t3.tenant_id
        where t1.db_status = 1
        <if test="name != null and name != ''">and t1.name like concat('%', #{name}, '%')</if>
        <if test="tenantName != null and tenantName != ''">and t3.tenant_name like concat('%', #{tenantName}, '%')</if>
        <if test="parentId != null">and t1.parent_id = #{parentId}</if>
        <if test="deptIds != null and deptIds.size() > 0">
            and t1.id in
            <foreach item="deptId" index="index" collection="deptIds" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>


        order by t1.tenant_id,t1.sort asc
    </select>

</mapper>