<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finn.support.mapper.DictDataMapper">

    <select id="getList" resultType="com.finn.support.vo.DictDataVO">
        select a.*,b.dict_type from sys_dict_data a INNER JOIN sys_dict_type b on a.dict_type_id = b.id
        where a.db_status = 1 and b.db_status = 1
        <if test="dictTypeId != null and dictTypeId != ''">and a.dict_type_id = #{dictTypeId}</if>
        order by a.dict_type_id,a.sort
    </select>

    <update id="updateById">
        UPDATE sys_dict_data
        <set>
            <if test="dictTypeId != null and dictTypeId != ''">dict_type_id = #{dictTypeId},</if>
            <if test="dictLabel != null and dictLabel != ''">dict_label = #{dictLabel},</if>
            <if test="dictValue != null and dictValue != ''">dict_value = #{dictValue},</if>
            <if test="labelClass != null and labelClass != ''">label_class = #{labelClass},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="dbStatus != null">db_status = #{dbStatus},</if>
            <if test="updater != null">updater = #{updater},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>

    <insert id="save">
        INSERT INTO sys_dict_data ( dict_type_id, dict_label, dict_value, label_class, remark, sort, db_status, creator, create_time)
        VALUES ( #{dictTypeId}, #{dictLabel}, #{dictValue}, #{labelClass}, #{remark}, #{sort}, #{dbStatus}, #{creator}, #{createTime} )
    </insert>

    <select id="getById" resultType="com.finn.support.entity.DictDataEntity">
        select * from sys_dict_data where id = #{id}
    </select>
</mapper>