<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finn.support.mapper.RoleMapper">

    <select id="getList" parameterType="com.finn.support.query.RoleQuery">
        select sys_role.*,tenant_member.tenant_name,GROUP_CONCAT(sys_role_menu.menu_id) menuIds
        from sys_role left join tenant_member on sys_role.tenant_id = tenant_member.tenant_id and tenant_member.db_status = 1
        left join sys_role_menu on sys_role.id = sys_role_menu.role_id and sys_role_menu.db_status = 1
        where sys_role.db_status != 0
        <if test="name != null and name != ''">
            and sys_role.name like concat('%',#{name}, '%')
        </if>
        <if test="tenantId != null and tenantId != ''">and sys_role.tenant_id = #{tenantId}</if>
        <if test="isSystem != null">and sys_role.is_system = #{isSystem}</if>
        <if test="startTime != null and endTime != null">and DATE_FORMAT(sys_role.create_time,'%Y-%m-%d') between #{startTime} and #{endTime}</if>
        <if test="remark != null and remark !=''">and sys_role.remark like concat('%',#{remark},'%')</if>
        <if test="tenantName != null and tenantName !=''">and tenant_member.tenant_name like concat('%',#{tenantName},'%')</if>
        group by sys_role.id
        order by sys_role.create_time desc
    </select>

    <!--<update id="updateById">
        UPDATE sys_role
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="dataScope != null">data_scope = #{dataScope},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="dbStatus != null">db_status = #{dbStatus},</if>
            <if test="updater != null and updater != 0">updater = #{updater},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>-->

    <!--<insert id="insertRole" parameterType="entity.com.finn.support.SysRoleEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_role ( name, remark, data_scope, dept_id, db_status, creator, create_time)
        VALUES
        (#{name}, #{remark}, #{dataScope}, #{deptId}, #{dbStatus}, #{creator}, #{createTime})
    </insert>-->

</mapper>