<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finn.support.mapper.SysDictTypeMapper">

    <select id="getList" resultType="com.finn.support.entity.SysDictTypeEntity">
        select * from sys_dict_type where db_status = 1
        <if test="dictType != null and dictType != ''">and dict_type like concat('%',#{dictType}, '%')</if>
        <if test="dictName != null and dictName != ''">and dict_name like concat('%',#{dictName}, '%')</if>
        order by sort
    </select>

    <insert id="save">
        INSERT INTO sys_dict_type ( dict_type, dict_name, dict_source, dict_sql, remark, sort, db_status, creator, create_time )
        VALUES ( #{dictType}, #{dictName}, #{dictSource}, #{dictSql}, #{remark}, #{sort}, #{dbStatus}, #{creator}, #{createTime} )
    </insert>

    <update id="updateById">
        UPDATE sys_dict_type
        <set>
            <if test="dictType != null and dictType != ''">dict_type = #{dictType},</if>
            <if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
            <if test="dictSource != null">dict_source = #{dictSource},</if>
            <if test="dictSql != null and dictSql != ''">dict_sql = #{dictSql},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="dbStatus != null">db_status = #{dbStatus},</if>
            <if test="updater != null">updater = #{updater},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>
</mapper>