<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iris.support.mapper.SysRoleMenuMapper">

	<select id="getMenuIdList" resultType="long">
		select menu_id from sys_role_menu where role_id = #{roleId} and db_status = 1
	</select>

	<update id="deleteByRoleIdList">
		update sys_role_menu
		<set>
			<if test="param != null and param.updater != null">updater = #{param.updater},</if>
			db_status = 0,
			update_time = sysdate()
		</set>
		where role_id in
		<foreach item="roleId" index="index" collection="list" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</update>

	<update id="deleteByMenuId">
		update sys_role_menu
		<set>
			<if test="param != null and param.updater != null">updater = #{param.updater},</if>
			db_status = 0,
			update_time = sysdate()
		</set>
		where menu_id = #{menuId}
	</update>

	<insert id="saveBatch">
		INSERT INTO sys_role_menu ( role_id, menu_id, db_status, creator, create_time ) VALUES
		<foreach item="item" index="index" collection="list" separator=",">
			( #{item.roleId}, #{item.menuId}, #{item.dbStatus}, #{item.creator}, #{item.createTime} )
		</foreach>
	</insert>

	<update id="deleteMenuIdList">
		update sys_role_menu
		<set>
			<if test="param != null and param.updater != null">updater = #{param.updater},</if>
			db_status = 0,
			update_time = #{param.updateTime}
		</set>
		where menu_id in
		<foreach item="menuId" index="index" collection="list" open="(" separator="," close=")">
			#{menuId}
		</foreach>
		<if test="param != null and param.roleId != null and param.roleId != ''">
			and role_id = #{param.roleId}
		</if>
	</update>
</mapper>