<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iris.support.mapper.SysUserMapper">
	<select id="getList" resultType="com.iris.support.entity.SysUserEntity">
		select t1.*, t2.name orgName
		from sys_user t1 left join sys_org t2 on t1.org_id = t2.id
		where t1.super_admin = 0 and t1.db_status = 1
		<if test="params.username != null and params.username.trim() != ''">
			and t1.username = #{params.username}
		</if>
		<if test="params.userNames != null and params.userNames.size() > 0">
			and t1.username in
			<foreach item="item" index="index" collection="params.userNames" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="params.mobile != null and params.mobile.trim() != ''">
			and t1.mobile = #{params.mobile}
		</if>
		<if test="params.gender != null">
			and t1.gender = #{params.gender}
		</if>
		<if test="params.realName != null and params.realName.trim() != ''">
			and t1.real_name like concat("%",#{params.realName},"%")
		</if>
		<if test="params.orgId != null and params.orgId != 0">
			and t1.org_id = #{params.orgId}
		</if>
		<if test="params.keyWord != null and params.keyWord.trim() != ''">
			and (t2.name like concat("%",#{params.keyWord},"%") or t1.real_name like concat("%",#{params.keyWord},"%") )
		</if>
	</select>

	<select id="getRoleUserList" resultType="com.iris.support.entity.SysUserEntity">
		select t1.*,t3.name as org_name from sys_user t1 left join sys_user_role t2 on t1.id = t2.user_id
		left join sys_org t3 on t1.org_id = t3.id
		where t1.db_status = 1 and t2.db_status = 1 and t2.role_id = #{roleId}
		<if test="username != null and username.trim() != ''">
			and t1.username = #{username}
		</if>
		<if test="mobile != null and mobile.trim() != ''">
			and t1.mobile = #{mobile}
		</if>
		<if test="gender != null">
			and t1.gender = #{gender}
		</if>
	</select>
</mapper>