<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iris.support.mapper.SysUserRoleMapper">

    <insert id="saveBatch">
        INSERT INTO sys_user_role (role_id, user_id, db_status, creator, create_time) VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.roleId}, #{item.userId}, #{item.dbStatus}, #{item.creator}, #{item.createTime})
        </foreach>
    </insert>

    <update id="deleteByUserIdList">
        update sys_user_role
        <set>
            <if test="param != null and param.updater != null">updater = #{param.updater},</if>
            db_status = 0,
            update_time = sysdate()
        </set>
        <where>
            <if test="param != null and param.roleId != null and param.roleId != ''">
                and role_id = #{param.roleId}
            </if>
            and user_id in
            <foreach item="userId" index="index" collection="list" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </where>
    </update>

    <update id="deleteByRoleIdList">
        update sys_user_role
        <set>
            <if test="param.updater != null">updater = #{param.updater},</if>
            db_status = 0,
            update_time = sysdate()
        </set>
        <where>
            <if test="param != null and param.userId != null and param.userId != ''">
                and user_id = #{param.userId}
            </if>
            and role_id in
            <foreach item="roleId" index="index" collection="list" open="(" separator="," close=")">
                #{roleId}
            </foreach>
        </where>
    </update>
</mapper>