<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finn.app.mapper.DataFunctionMapper">

    <select id="getList" resultType="com.finn.app.entity.DataFunctionEntity">
        select * from data_function where db_status = 1
        <if test="keyWord != null and keyWord != ''">
            and (name like concat('%', #{keyWord}, '%') or func_code like concat('%',#{keyWord}, '%'))
        </if>
    </select>

    <select id="getById" resultType="com.finn.app.entity.DataFunctionEntity">
        select * from data_function where id = #{id}
    </select>

    <select id="pageByClientId" resultType="com.finn.app.vo.DataFunctionVO">
        SELECT
        a.*,
        case when b.client_id is null then 0 else 1 end AS checkedFunc
        FROM
        data_function a
        LEFT JOIN data_function_authority b ON a.func_code = b.func_code
        AND b.db_status = 1
        AND b.client_id = #{clientId}
        WHERE a.db_status = 1
    </select>

    <select id="getAuthorityList" resultType="com.finn.app.entity.DataFunctionAuthorityEntity">
        select * from data_function_authority where db_status = 1
        <if test="clientId != null and clientId != ''">and client_id = #{clientId}</if>
    </select>

    <select id="getFuncAuthorityById" resultType="com.finn.app.entity.DataFunctionAuthorityEntity">
        select * from data_function_authority where id = #{id}
    </select>
</mapper>