<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finn.system.mapper.LogOperateMapper">
    <!--<insert id="save">
        INSERT INTO sys_log_operate (module, name, req_uri, req_method, req_params, ip, address, user_agent, operate_type, duration, status, user_id, real_name, result_msg, create_time, tenant_id)
        VALUES (#{module}, #{name}, #{reqUri}, #{reqMethod}, #{reqParams}, #{ip}, #{address}, #{userAgent}, #{operateType}, #{duration}, #{status}, #{userId}, #{realName}, #{resultMsg}, #{createTime}, #{tenantId})
    </insert>-->

    <select id="getList" resultType="com.finn.system.entity.LogOperateEntity">
        select * from sys_log_operate
        <where>
            <if test="status != null">and status = #{status}</if>
            <if test="realName != null and realName != ''">and real_name = #{realName}</if>
            <if test="module != null and module != ''">and module like concat('%',#{module}, '%')</if>
            <if test="reqUri != null and reqUri != ''">and req_uri like concat('%',#{reqUri}, '%')</if>
        </where>
        order by id desc
    </select>
</mapper>