<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finn.system.mapper.ParamsMapper">
    <select id="getById" resultType="com.finn.system.entity.ParamsEntity">
        select * from sys_params where id = #{id}
    </select>
</mapper>