<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finn.urban.mapper.SportRecordMapper">

    <select id="statistics" resultType="com.finn.common.entity.HashDto">
        SELECT
        SUM(CASE WHEN duration IS NULL THEN 0 ELSE duration END) AS duration,
        SUM(CASE WHEN distance IS NULL THEN 0 ELSE distance END) AS distance,
        COUNT(id) AS times,
        SUM(checkins) AS checkins
        FROM
        (
        SELECT a.id, a.duration, a.distance, COUNT(b.id) AS checkins
        FROM ur_sport_record a
        LEFT JOIN ur_sport_checkin b ON a.id = b.group_id
        AND b.db_status = 1
        WHERE
        a.db_status = 1
        AND a.user_id = #{ params.userId }
        <if test="params.startDate != null">
            and a.start_time &gt;= #{params.startDate}
        </if>
        <if test="params.endDate != null">
            and a.start_time &lt;= #{params.endDate}
        </if>
        GROUP BY a.id, a.duration, a.distance)
    </select>
</mapper>
