<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finn.urban.mapper.SportCheckinMapper">

    <select id="listNearby" resultType="com.finn.urban.entity.SportCheckin">
        SELECT *
        FROM ur_sport_checkin
        WHERE db_status = 1
          AND (6371000 * 2 * ASIN(SQRT(
              POWER(SIN((#{latitude} - latitude) * PI() / 360), 2) +
              COS(#{latitude} * PI() / 180) * COS(latitude * PI() / 180) *
              POWER(SIN((#{longitude} - longitude) * PI() / 360), 2)
          ))) <= 5000
        ORDER BY created_at DESC
        LIMIT 80
    </select>
</mapper>