<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iris.sys.app.mapper.DataMessageMapper">
    <select id="getList" resultType="com.iris.sys.app.vo.DataMsgVO">
        select a.*,b.name funcCodeName,c.name clientName from data_message a left join data_function b on a.func_code = b.func_code and b.db_status = 1
        left join data_app c on a.client_id = c.client_id and c.db_status = 1
        where a.db_status = 1
        <if test="clientId != null and clientId != ''">and a.client_id = #{clientId}</if>
        <if test="state != null and state != ''">and a.state = #{state}</if>
        <if test="funcCode != null and funcCode != ''">and a.func_code = #{funcCode}</if>
        <if test="topic != null and topic != ''">and a.topic = #{topic}</if>
        <if test="startDate != null and startDate != ''">and a.create_time &gt;= #{startDate}</if>
        <if test="endDate != null and endDate != ''">and a.create_time &lt;= #{endDate}</if>
        <if test="keyWord != null and keyWord != ''">
            and (a.func_code like concat('%',#{keyWord}, '%') or a.client_id like concat('%',#{keyWord}, '%')
            or a.topic like concat('%',#{keyWord}, '%'))
        </if>
        order by a.create_time desc
    </select>

    <insert id="insertDataMsg">
        INSERT INTO data_message ( client_id, func_code, topic, json_str, state, result_msg, note, creator, create_time, db_status )
        VALUES ( #{clientId}, #{funcCode}, #{topic}, #{jsonStr}, #{state}, #{resultMsg}, #{note}, #{creator}, #{createTime}, 1 )
    </insert>

    <update id="deleteByDate">
        update data_message set db_status = 0,update_time = sysdate()
        where db_status = 1 and create_time &lt;= #{date}
    </update>

    <update id="updateById">
        UPDATE data_message
        <set>
            <if test="clientId != null and clientId != ''">client_id = #{clientId},</if>
            <if test="funcCode != null and funcCode != ''">func_code = #{funcCode},</if>
            <if test="topic != null and topic != ''">topic = #{topic},</if>
            <if test="jsonStr != null and jsonStr != ''">json_str = #{jsonStr},</if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="resultMsg != null and resultMsg != ''">result_msg = #{resultMsg},</if>
            <if test="note != null and note != ''">note = #{note},</if>
            <if test="updater != null">updater = #{updater},</if>
            <if test="dbStatus != null">db_status = #{dbStatus},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>
</mapper>