<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iris.sys.base.mapper.SysUserPostMapper">

    <select id="getPostIdList" resultType="long">
        select post_id from sys_user_post where user_id = #{userId} and db_status = 1
    </select>

    <insert id="saveBatch">
        INSERT INTO sys_user_post ( user_id, post_id, db_status, creator, create_time ) VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.userId}, #{item.postId}, #{item.dbStatus}, #{item.creator}, #{item.createTime} )
        </foreach>
    </insert>

    <update id="deleteByUserIdList">
        UPDATE sys_user_post
        <set>
            <if test="param != null and param.updater != null">updater = #{param.updater},</if>
            db_status = 0,
            update_time = sysdate()
        </set>
        WHERE user_id in
        <foreach item="userId" index="index" collection="list" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>

    <update id="deleteByPostIdList">
        UPDATE sys_user_post
        <set>
            <if test="param != null and param.updater != null">updater = #{param.updater},</if>
            db_status = 0,
            update_time = sysdate()
        </set>
        WHERE post_id in
        <foreach item="postId" index="index" collection="list" open="(" separator="," close=")">
            #{postId}
        </foreach>
        <if test="param != null and param.userId != null">and user_id = #{param.userId}</if>
    </update>
</mapper>