<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iris.flow.mapper.WorkOrderMapper">
    <select id="getOrderList" resultType="com.iris.flow.entity.WorkOrderEntity">
        select * from oh_work_order where db_status = 1
    </select>
    <!-- 保存工单，回写ID -->
    <insert id="saveOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO oh_work_order (id, order_code, order_source, report_time, incident_time, end_time, title, comment, address, geo_x, geo_y, category, note, extend_json, db_status, creator, create_time)
        VALUES (#{id}, #{orderCode}, #{orderSource}, #{reportTime}, #{incidentTime}, #{endTime}, #{title}, #{comment}, #{address}, #{geoX}, #{geoY}, #{category}, #{note}, #{extendJson}, #{dbStatus}, #{creator}, #{createTime})
    </insert>

    <update id="updateOrderById">
        UPDATE oh_work_order
        <set>
            <if test="orderCode != null and orderCode != ''">order_code = #{orderCode},</if>
            <if test="orderSource != null and orderSource != ''">order_source = #{orderSource},</if>
            <if test="reportTime != null">report_time = #{reportTime},</if>
            <if test="incidentTime != null">incident_time = #{incidentTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="comment != null and comment != ''">comment = #{comment},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="geoX != null">geo_x = #{geoX},</if>
            <if test="geoY != null">geo_y = #{geoY},</if>
            <if test="category != null">category = #{category},</if>
            <if test="note != null and note != ''">note = #{note},</if>
            <if test="extendJson != null and extendJson != ''">extend_json = #{extendJson},</if>
            <if test="db_status != null">db_status = #{dbStatus},</if>
            <if test="updater != null">updater = #{updater},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>

    <select id="getOrderById" resultType="com.iris.flow.entity.WorkOrderEntity">
        select * from oh_work_order where id = #{id}
    </select>
</mapper>