<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finn.sys.quartz.mapper.ScheduleJobMapper">
    <select id="getList" resultType="com.finn.sys.quartz.entity.ScheduleJobEntity">
        select * from schedule_job where db_status = 1
        <if test="jobName != null and jobName != ''">and job_name like concat('%',#{jobName}, '%')</if>
        <if test="jobGroup != null and jobGroup != ''">and job_group like concat('%',#{jobGroup}, '%')</if>
        <if test="status != null">and status = #{status}</if>
    </select>

    <delete id="deleteLogByIds">
        delete from schedule_job_log where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getLogList" resultType="com.finn.sys.quartz.entity.ScheduleJobLogEntity">
        select * from schedule_job_log
        <where>
            <if test="jobName != null and jobName != ''">and job_name like concat('%', #{jobName}, '%')</if>
            <if test="jobGroup != null and jobGroup != ''">and job_group like concat('%', #{jobGroup}, '%')</if>
            <if test="jobId != null">and job_id = #{jobId}</if>
        </where>
        order by id desc
    </select>

    <insert id="insertJobLog">
        INSERT INTO schedule_job_log (job_id, job_name, job_group, bean_name, method, params, status, error, times, create_time)
        VALUES (#{jobId}, #{jobName}, #{jobGroup}, #{beanName}, #{method}, #{params}, #{status}, #{error}, #{times}, #{createTime})
    </insert>

    <insert id="insertJob">
        INSERT INTO schedule_job (job_name, job_group, bean_name, method, params, cron_expression, status, concurrent, remark, db_status, creator, create_time)
        VALUES (#{jobName}, #{jobGroup}, #{beanName}, #{method}, #{params}, #{cronExpression}, #{status}, #{concurrent}, #{remark}, #{dbStatus}, #{creator}, #{createTime})
    </insert>

    <select id="getById" resultType="com.finn.sys.quartz.entity.ScheduleJobEntity">
        select * from schedule_job where id = #{id}
    </select>

    <select id="getLogById" resultType="com.finn.sys.quartz.entity.ScheduleJobLogEntity">
        select * from schedule_job_log where id = #{id}
    </select>

    <update id="updateById">
        UPDATE schedule_job
        <set>
            <if test="jobName != null and jobName != ''">job_name = #{jobName},</if>
            <if test="jobGroup != null and jobGroup != ''">job_group = #{jobGroup},</if>
            <if test="beanName != null and beanName != ''">bean_name = #{beanName},</if>
            <if test="method != null and method != ''">method = #{method},</if>
            <if test="params != null and params != ''">params = #{params},</if>
            <if test="cronExpression != null and cronExpression != ''">cron_expression = #{cronExpression},</if>
            <if test="status != null">status = #{status},</if>
            <if test="concurrent != null">concurrent = #{concurrent},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="dbStatus != null">db_status = #{dbStatus},</if>
            <if test="updater != null">updater = #{updater},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>
</mapper>