<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iris.sys.base.mapper.SysMenuMapper">

	<select id="getMenuList" resultType="com.iris.sys.base.entity.SysMenuEntity">
		select t1.*,t2.name as parent_name from sys_menu t1 left join sys_menu t2 on t1.parent_id = t2.id where t1.db_status = 1
		<if test="query.type != null">
			and t1.type = #{query.type}
		</if>
		<if test="query.parentId != null">
			and t1.parent_id = #{query.parentId}
		</if>
		<if test="query.name != null and query.name != ''">
			and t1.name like concat('%', #{query.name}, '%')
		</if>
		order by t1.sort asc
	</select>

	<select id="getUserMenuList" resultType="com.iris.sys.base.entity.SysMenuEntity">
		select t3.* from sys_user_role t1
			left join sys_role_menu t2 on t1.role_id = t2.role_id
			left join sys_menu t3 on t2.menu_id = t3.id
		where t1.user_id = #{userId} and t1.db_status = 1 and t2.db_status = 1 and t3.db_status = 1
		<if test="type != null">
			and t3.type = #{type}
		</if>
		order by t3.sort asc
	</select>

	<select id="getUserAuthorityList" resultType="string">
		select t3.authority from sys_user_role t1
		    left join sys_role_menu t2 on t1.role_id = t2.role_id
			left join sys_menu t3 on t2.menu_id = t3.id
		where t1.user_id = #{userId} and t1.db_status = 1 and t2.db_status = 1 and t3.db_status = 1 order by t3.sort asc
	</select>

	<select id="getAuthorityList" resultType="string">
		select authority from sys_menu where db_status = 1
	</select>

	<insert id="save">
		INSERT INTO sys_menu (parent_id, name, url, menu_path, authority, type, open_style, icon, sort, db_status, mark, creator, create_time)
		VALUES (#{parentId}, #{name}, #{url}, #{menuPath}, #{authority}, #{type}, #{openStyle}, #{icon}, #{sort}, #{dbStatus}, #{mark}, #{creator}, #{createTime})
	</insert>

	<update id="updateById">
		UPDATE sys_menu
		<set>
			<if test="parentId != null and parentId != ''">parent_id = #{parentId},</if>
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="url != null and url != ''">url = #{url},</if>
			<if test="menuPath != null and menuPath != ''">menu_path = #{menuPath},</if>
			<if test="authority != null and authority != ''">authority = #{authority},</if>
			<if test="type != null">type = #{type},</if>
			<if test="openStyle != null">open_style = #{openStyle},</if>
			<if test="icon != null and icon != ''">icon = #{icon},</if>
			<if test="sort != null">sort = #{sort},</if>
			<if test="dbStatus != null">db_status = #{dbStatus},</if>
			<if test="mark != null and mark != ''">mark = #{mark},</if>
			<if test="updater != null and updater != ''">updater = #{updater},</if>
			update_time = #{updateTime}
		</set>
		WHERE id = #{id}
	</update>

	<select id="getList" resultType="com.iris.sys.base.entity.SysMenuEntity">
		select * from sys_menu where db_status = 1
		<if test="parentId != null and parentId != ''">and parent_id = #{parentId}</if>
		<if test="menuPath != null and menuPath != ''">and menu_path = #{menuPath}</if>
		order by sort
	</select>

	<select id="getById" resultType="com.iris.sys.base.entity.SysMenuEntity">
		select * from sys_menu where id = #{id}
	</select>
</mapper>